@import url('https://fonts.googleapis.com/css2?family=Schoolbell&family=Short+Stack&display=swap');

/* REFERENCE: Using CSS custom properties to
    create changable theme
    https://www.sitepoint.com/css-theming-custom-properties-javascript/ */
:root {
    /* Children's theme */
    --problem_bg_colour: hsl(209, 100%, 50%);
    --footer_bg_colour: hsl(60, 100%, 50%);
    --bubble_colour:hsl(209, 100%, 53%);
    --target_result_colour: hsl(84, 100%, 59%);
    --play_button_bg_colour: hsl(240, 100%, 50%);
    --custom_radio_bg_colour: hsl(0, 60%, 50%);
    --custom_radio_bg_hover: hsl(0, 60%, 80%);
    --custom_radio_bg_checked: hsl(0, 60%, 30%);
    --custom_radio_text_checked: hsl(209, 100%, 100%);
}

:root[theme='adult'] {
    /* Grown Up theme */
    --problem_bg_colour: hsl(209, 40%, 46%);
    --footer_bg_colour: hsl(209, 30%, 53%);
    --bubble_colour:hsl(209, 100%, 53%);
    --bubble_text_colour:hsl(209,100%,100%);
    --target_result_colour: hsl(209, 100%, 100%);
    --play_button_bg_colour: hsl(209, 50%, 60%);
    --custom_radio_bg_colour: hsl(209, 50%, 50%);
    --custom_radio_bg_hover: hsl(209, 50%, 80%);
    --custom_radio_bg_checked: hsl(209, 50%, 30%);
    --custom_radio_text_checked: hsl(209, 100%, 100%);
}

/* set defaults for page and zero out default browser padding and margins */
html {
    /* max-width to limit game area on larger screens */
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Short Stack', cursive;
}

/* GAME.html --------------------------------------------------- */

/* ------------------ SETTINGS DIVS ------------------ */
.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    z-index: 999;
}

#settings {
    margin: auto;
    background-color: #fff;
    border-radius: 15px;
    width: 30vw;
    padding: 10px;
}

input[type='text'] {
    width: 20%;
}

/* ------------------ / SETTINGS DIVS ------------------ */

/* REFERENCE: Custom radio buttons technique derived from:
    https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

/* CUSTOM RADIO GROUP */
/* child selectors used over general decsendent selectors 
    for performance considerations */

/* Flex display for contents of each label */
.calc_type_label {
    display: flex;
    justify-content: space-around;
}

/* Hide the browser's default radio button */
/* copied from w3schools how to referenced above */
.calc_type_label > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

/* Sets flexbox details and size for container
    of custom radio buttons */
#calc_type_group {
    display: flex;
    justify-content: space-around;
    /* % used as unit for proportion of parent container */
    width: 95%;
}

/* styles the spans contained within labels
    to create circles with text centered
    horizontally and vertically */
.custom_radio {
    display:flex;
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background-color: var(--custom_radio_bg_colour);
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: 700;
}

/* hover effect for the spans 
    uses the same hue but varies lightness */
.custom_radio:hover {
    background-color: var(--custom_radio_bg_hover);
}

/* changes the colour of the selected
    custom radio button */
/* uses the General Sibling Selector to
    select siblings of the currently checked
    radio button with the class .custom_radio
    (custom styled spans) */
.calc_type_label > input:checked ~ .custom_radio {
    background-color: var(--custom_radio_bg_checked);
    color: var(--custom_radio_text_checked);
}

/* / CUSTOM RADIO GROUP */

/* ------------------ GAME AREA ------------------ */

#problem {
    position: relative;
    height: 10vh;
    width: 800px;
    background-color: var(--problem_bg_colour);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 8vh;
    color: #fff;
    z-index: 997;
}

#target_result {
    color: var(--target_result_colour);
    font-weight: 700;
}

#outer_container {
    position: relative;
    /* 80vh chosen for responsiveness allowing 10vh above and 10vh bellow */
    height: 80vh;
}

#bg {
    background-color: #fff;
    position: absolute;
    top: 10vh;
    width: 800px;
    height: 80vh;
    z-index: 1;
}

#game_container {
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 80vh;
    z-index: 998;
}

#play_button {

}

/* ------------------ / GAME AREA ------------------ */

/* / GAME.html --------------------------------------------------- */

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

    #settings {
        width: 60vw;
    }

    /* CUSTOM RADIO GROUP */

    /* / CUSTOM RADIO GROUP */

}

@media screen and (max-width: 360px) {

    #settings {
        width: 90vw;
    }

    /* CUSTOM RADIO GROUP */

    #calc_type_group {
        width: 90%;
    }

    .custom_radio {
        height: 15vw;
        width: 15vw;
        font-size: 14vw;
    }

    /* / CUSTOM RADIO GROUP */

}