@import url('https://fonts.googleapis.com/css2?family=Schoolbell&family=Short+Stack&display=swap');

/* REFERENCE: Using CSS custom properties to
    create changable theme
    https://www.sitepoint.com/css-theming-custom-properties-javascript/ */
:root {
    /* Children's theme */
    --problem_bg_colour: hsl(209, 100%, 50%);
    --footer_bg_colour: hsl(60, 100%, 50%);
    --footer_text_colour: hsl(240, 100%, 50%);
    --page_footer_bg_colour:hsl(84, 70%, 60%);
    --bubble_colour:hsl(209, 100%, 53%);
    --bubble_text_colour:hsl(209,100%,100%);
    --target_result_colour: hsl(84, 100%, 59%);
    --play_button_bg_colour: hsl(240, 100%, 50%);
    --play_button_text_colour:hsl(240,100%, 100%);
    --custom_radio_bg_colour: hsl(0, 60%, 50%);
    --custom_radio_bg_hover: hsl(0, 60%, 80%);
    --custom_radio_bg_checked: hsl(0, 60%, 30%);
    --custom_radio_text_checked: hsl(209, 100%, 100%);
    --message_success_colour: hsl(240,100%, 50%);
    --message_failure_colour: hsl(0, 80%, 40%);
    --font_family: 'Short Stack', cursive;
}

:root[theme='adult'] {
    /* Grown Up theme */
    --problem_bg_colour: hsl(209, 40%, 46%);
    --footer_bg_colour: hsl(209, 30%, 53%);
    --footer_text_colour: hsl(209, 50%, 15%);
    --page_footer_bg_colour:hsl(209, 80%, 60%);
    --bubble_colour:hsl(209, 100%, 53%);
    --bubble_text_colour:hsl(209,100%,100%);
    --target_result_colour: hsl(209, 100%, 100%);
    --play_button_bg_colour: hsl(209, 50%, 60%);
    --play_button_text_colour: hsl(209,50%, 15%);
    --custom_radio_bg_colour: hsl(209, 50%, 50%);
    --custom_radio_bg_hover: hsl(209, 50%, 80%);
    --custom_radio_bg_checked: hsl(209, 50%, 30%);
    --custom_radio_text_checked: hsl(209, 100%, 100%);
    --message_success_colour: hsl(84,60%, 50%);
    --message_failure_colour: hsl(0, 80%, 40%);
    --font_family: Arial, Helvetica, sans-serif;
}

/* ------------------ PAGE LAYOUT ------------------ */

/* classes for resizing material design icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* set defaults for page and zero out default browser padding and margins */
html {
    /* max-width to limit game area on larger screens */
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    --animation_speed: 6s;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #000;
    font-family: var(--font_family);
    height: 100%;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    height: 10vh;
    background-color: var(--page_footer_bg_colour);
}

.navigation {
    list-style: none;
    padding: 0 0 0 1vw;
}

.nav_item {
    text-decoration: none;
    display: inline-block;
    padding: 2vw 1vw;
}

/* ------------------ / PAGE LAYOUT ------------------ */

/* GAME.html --------------------------------------------------- */

/* ------------------ SETTINGS DIVS ------------------ */
.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    z-index: 999;
}

#settings {
    margin: auto;
    background-color: #fff;
    border-radius: 15px;
    width: 30vw;
    max-height: 95vh;
    overflow-y: scroll;
    padding: 10px;
}

form div.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 10px 0 0;
    padding-bottom: 10px;
    border-bottom: 1px solid hsl(0, 0%, 50%);
}

/* hide border on last row of settings form */
form div.row:last-child {
    border: 0 none;
}

form div.col {
    display: inline-block;
    max-width: 49%;
}

.settings_input {
    width: 80%;
    margin-left: 10px;
    font-size: 2vh;
    text-align: center;
    border: 0 none;
}

#play_button {
    background-color: var(--play_button_bg_colour);
    color: var(--play_button_text_colour);
    border-radius: 10px;
    margin: 0 auto;
    font-size: 4vh;
}

/* ------------------ / SETTINGS DIVS ------------------ */

/* ------------------ MESSAGES DIVS ------------------ */

.transp_overlay {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.message {
    margin: 10px;
    border-radius: 15px;
    width: 60vw;
    max-height: 95vh;
    padding: 10px;
    font-size: 10vw;
    text-align: center;
}

.score_form {
    margin: 10px;
}

.score_form > button {
    background-color: var(--play_button_bg_colour);
    color: var(--play_button_text_colour);
    border-radius: 5px;
    font-size: 2vh;
}

.success {
    background-color: var(--problem_bg_colour);
    color: var(--message_success_colour);
}

.failure {
    background-color: var(--footer_bg_colour);
    color: var(--message_failure_colour);
}

/* ------------------ /MESSAGES DIVS ------------------ */

/* REFERENCE: Custom radio buttons technique derived from:
    https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

/* CUSTOM RADIO GROUP */
/* child selectors used over general decsendent selectors 
    for performance considerations */

/* Flex display for contents of each label */
.calc_type_label {
    display: flex;
    justify-content: space-around;
}

/* Hide the browser's default radio button */
/* copied from w3schools how to referenced above */
.calc_type_label > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

/* Sets flexbox details and size for container
    of custom radio buttons */
#calc_type_group {
    display: flex;
    justify-content: space-around;
    /* % used as unit for proportion of parent container */
    width: 95%;
}

/* styles the spans contained within labels
    to create circles with text centered
    horizontally and vertically */
.custom_radio {
    display:flex;
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background-color: var(--custom_radio_bg_colour);
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-weight: 700;
}

/* hover effect for the spans 
    uses the same hue but varies lightness */
.custom_radio:hover {
    background-color: var(--custom_radio_bg_hover);
}

/* changes the colour of the selected
    custom radio button */
/* uses the General Sibling Selector to
    select siblings of the currently checked
    radio button with the class .custom_radio
    (custom styled spans) */
.calc_type_label > input:checked ~ .custom_radio {
    background-color: var(--custom_radio_bg_checked);
    color: var(--custom_radio_text_checked);
}

/* / CUSTOM RADIO GROUP */

/* ------------------ GAME AREA ------------------ */

#problem {
    position: relative;
    height: 10vh;
    /* width: 800px; */
    background-color: var(--problem_bg_colour);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 8vh;
    color: #fff;
    z-index: 997;
}

#target_result {
    color: var(--target_result_colour);
    font-weight: 700;
}

#outer_container {
    position: relative;
    /* 80vh chosen for responsiveness allowing 10vh above and 10vh bellow */
    height: 70vh;
    /* width: 800px; */
}

#bg {
    background-color: #fff;
    position: absolute;
    top: 10vh;
    max-width: 800px;
    height: 70vh;
    width: 100%;
    z-index: 1;
}

#game_container {
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 70vh;
    z-index: 998;
}

#game_footer {
    background-color: var(--footer_bg_colour);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 996;
}

.game_footer_item {
    color: var(--footer_text_colour);
    font-size: 8vh;
}

#show_settings {
    cursor: pointer;
}

/* ------------------ / GAME AREA ------------------ */

/* ------------------ BUBBLES ------------------ */

.bubble {
    position: absolute;
    border-radius: 50%;
    background-color: var(--bubble_colour);
    color: var(--bubble_text_colour);
    font-size: 30px;
    text-align: center;
    padding-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: bubble_drop;
    animation-duration: var(--animation_speed);
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes bubble_drop {
    from {top: 0;}
    to {top: 60vh;}
}

/* ------------------ / BUBBLES ------------------ */

/* / GAME.html --------------------------------------------------- */

/* HIGH_SCORES.html ---------------------------------------------- */

.container {
    background-color: #fff;
    position: absolute;
    top: 10vh;
    max-width: 800px;
    height: 70vh;
    width: 100%;
    z-index: 1;
}

/* / HIGH_SCORES.html -------------------------------------------- */

/* MEDIA QUERIES */

@media screen and (max-width: 769px) {

    #settings {
        width: 60vw;
    }

    /* CUSTOM RADIO GROUP */

    .custom_radio {
        height: 8vw;
        width: 8vw;
        font-size: 7vw;
    }

    /* / CUSTOM RADIO GROUP */

}

@media screen and (max-width: 360px) {

    #settings {
        width: 90vw;
    }

    /* CUSTOM RADIO GROUP */

    #calc_type_group {
        width: 90%;
    }

    .custom_radio {
        height: 15vw;
        width: 15vw;
        font-size: 14vw;
    }

    /* / CUSTOM RADIO GROUP */

}